
p {
    text-indent: 50px;
  }
.printformClass{
  width:595px;
  overflow: auto; 
  background-image: url('../assets/theme2.jpg'); 
  padding: 25px ;
  word-wrap: break-word;
 page-break-inside: avoid;

 page-break-after: always;
 box-sizing: border-box;

  z-index: 4;
  vertical-align: baseline;
  row-gap: 80px;

}



