<!-- Button trigger modal -->


  
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->

<div class="modal fade;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="row">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 625px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resume</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!-- content -->
<div #drawMe>
<div  class="container printformClass" id="printIt">

  
		
 <h2>AKHITHA KANKEKAR</h2>
<table style="width: 100%; margin-right: 50px;">
  <tr>
   Address :<td>Madhapur<br>hi-tech city, Hyderabad<br>hyd dist, telangana, india, 500034</td>
   <td rowspan="3"><img src="../assets/aavataricon.png" alt=""></td>
  </tr>
  <tr><i class="fas fa-envelope"></i> &nbsp; &nbsp; email:<td> <span style="color: rgb(33, 150, 247);">akhitha@calibrage.in</span></td></tr>
  <tr><i class="fas fa-mobile"></i>&nbsp; mobile:<td><span style="color: rgb(33, 150, 247);">965456874</span></td></tr>
</table>
<h1 style="border: 2px solid black;"></h1>
  <h5 style="background-color: pink;">CARRIER  &nbsp; OBJECTIVE</h5>
  <h6 style="border: 1px solid black;"></h6>
  <p>To secure a challenging positon in a reputable organizaton to expand my learnings, knowledge, and skills.</p>
  <h5 style="background-color: pink;">AREAS &nbsp; OF INTERESTS</h5>
  <h6 style="border: 1px solid black;"></h6>
  <div style="font-weight: 50px;">
    .<span>madhapur</span>
   </div>
   <h5 style="background-color: pink;">EDUCATION</h5>
   <h6 style="border: 1px solid black;"></h6>


<!-- hhhh -->


   <h1 style="border: 2px solid black;"></h1>
   <h5 style="background-color: pink;">CARRIER  &nbsp; OBJECTIVE</h5>
   <h6 style="border: 1px solid black;"></h6>
   <p>To secure a challenging positon in a reputable organizaton to expand my learnings, knowledge, and skills.</p>
   <!-- <h5 style="background-color: pink;">AREA &nbsp; OF INTERESTS</h5> -->
   <h6 style="border: 1px solid black;"></h6>
   <div style="font-weight: 50px;">
     .<span>madhapur</span>
    </div>
    <h5 style="background-color: pink;">EDUCATION</h5>
    <h6 style="border: 1px solid black;"></h6>

<ul>
  <li>CLASS 12</li>
  <li>PUC</li>
  <li>INTERMEDIATE</li>
</ul>
   <div class="row">
<div class="col-md-6">
   <div>qjspiders,india 500021<br>
  CBSE (CBSE &nbsp; International)</div>
  <div style="font-style: italic;">Hyderabad</div>
</div><br>
<!-- hhhh -->



<div class="col-md-6">
  <div>qjspiders,india 500021<br>
 CBSE (CBSE &nbsp; International)</div>
 <div style="font-style: italic;">Hyderabad</div>
</div>
<div class="col-md-6">
  <div>qjspiders,india 500021<br>
 CBSE (CBSE &nbsp; International)</div>
 <div style="font-style: italic;">Hyderabad</div>
</div>
<div class="col-md-6">
  <div>qjspiders,india 500021<br>
 CBSE (CBSE &nbsp; International)</div>
 <div style="font-style: italic;">Hyderabad</div>
</div>
<div class="row">
  <div class="col-md-6">
     <div>qjspiders,india 500021<br>
    CBSE (CBSE &nbsp; International)</div>
    <div style="font-style: italic;">Hyderabad</div>
  </div>
  <div class="row">
    <div class="col-md-6">
       <div>qjspiders,india 500021<br>
      CBSE (CBSE &nbsp; International)</div>
      <div style="font-style: italic;">Hyderabad</div>
    </div>
<div class="col-md-3">
  <p style="color: rgb(33, 150, 247);">jul-14</p>
</div>
<div class="col-md-3">
  <p style="color: rgb(33, 150, 247);">78.00%</p>
</div>
</div>

<div class="row">
  <div class="col-md-6">
     <div>qjspiders,india 500021<br>
    CBSE (CBSE &nbsp; International)</div>
    <div style="font-style: italic;">Hyderabad</div>
  </div>
<div class="col-md-3">
<p style="color: rgb(33, 150, 247);">jul-14</p>
</div>
<div class="col-md-3">
<p style="color: rgb(33, 150, 247);">78.00%</p>
</div>
</div>
<div class="row">
  <div class="col-md-6">
     <div>qjspiders,india 500021<br>
    CBSE (CBSE &nbsp; International)</div>
    <div style="font-style: italic;">Hyderabad</div>
  </div>
<div class="col-md-3">
<p style="color: rgb(33, 150, 247);">jul-14</p>
</div>
<div class="col-md-3">
<p style="color: rgb(33, 150, 247);">78.00%</p>
</div>
</div>



 <h6 style="color: rgb(33, 150, 247);">B.E(COMPUTERS &nbsp;  SCIENCE &nbsp; &  ENGINEERING  &nbsp;)</h6>&nbsp;
  <div class="row">
    <div class="col-md-6">
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <!-- hhh -->

  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>

  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
  <div>FP Reference College of Engineering,Davangere 577010<br>
    Fresher Profiles Demo  university,Karnataka,IND
  </div>
<p style="font-style: italic;">Karnataka</p>
  </div>
  <div class="col-md-3">
    <!-- <p style="color: rgb(33, 150, 247);">jan-1999</p> -->
  </div>
  <div class="col-md-3">
    <p style="color: rgb(33, 150, 247);">45.00%</p>
  </div>

  </div>
  
</div>
</div>

</div>

  <!-- content -->
   <div class="mt-2" style="text-align: end;">
    <!-- <button type="button"  class="btn btn-secondary" (click)="makePDF()">Convert To Pdf</button> &nbsp;  -->

    <button type="button" class="btn btn-primary"    (click)="convertToPdf()">convert Pdf</button> &nbsp;
    <button type="button" class="btn btn-primary"    (click)="getPDF()">Multiple Pages Pdf</button> &nbsp;
    <!-- //by using kendo ui -->
<!-- /    <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
     <button    type="button" class="k-button" (click)="onClick(drawMe)">Multiple Pages content</button> 
     <!-- <button (click)="download()">download</button> -->
     <button (click)="download()">download</button>
  </div>   
</div>

</div>
<!-- <button (click)="download()">download</button> -->



<!-- //photos -->
<div class="content-center">
 
  <div class="card">
    <i class="fa fa-file-zip-o fa-4x"></i>
 
    <ol>
      <li *ngFor="let url of urls">
        {{url.split('/')[url.split('/').length - 1]}}
      </li>
    </ol>
 
    <button (click)="downloadAsZip()">Download As Zip</button>
  </div>
 
</div>


























